<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="fullName">full name hebrew</label>
        <input id="fullName" formControlName="fullName" />
        <div *ngIf="form['fullName'].invalid && (form['fullName'].touched || form['fullName'].dirty)">
          <small *ngIf="form['fullName']['errors']?.['required']" class="error-message">Account number is required.</small>
        </div>
      </div>
    
      <div>
        <label for="fullNameEnglish">full name english</label>
        <input id="fullNameEnglish" formControlName="fullNameEnglish" />
        <div *ngIf="form['fullNameEnglish'].invalid && (form['fullNameEnglish'].touched || form['fullNameEnglish'].dirty)">
          <small *ngIf="form['fullNameEnglish']['errors']?.['required']" class="error-message">Account number is required.</small>
        </div>
      </div>
    
    <div>
      <label for="accountNumber">Account Number</label>
      <input id="accountNumber" formControlName="accountNumber" />
      <div *ngIf="form['accountNumber'].invalid && (form['accountNumber'].touched || form['accountNumber'].dirty)">
        <small *ngIf="form['accountNumber']['errors']?.['required']" class="error-message">Account number is required.</small>
      </div>
    </div>
  
    <div>
      <label for="amount">Amount</label>
      <input id="amount" formControlName="amount" type="number" />
      <div *ngIf="form['amount'].invalid && (form['amount'].touched || form['amount'].dirty)">
        <small *ngIf="form['amount'].errors?.['required']" class="error-message">Amount is required.</small>
        <small *ngIf="form['amount'].errors?.['min']" class="error-message">Amount must be greater than 0.</small>
      </div>
    </div>
  
    <div>
      <label for="status">Status</label>
      <select id="transactionType" formControlName="transactionType">
        <option value="" disabled>Select status</option>
        <option value="Deposit">Deposit</option>
        <option value="Withdrawal">Withdrawal</option>
      </select>
      <div *ngIf="form['transactionType'].invalid && (form['transactionType'].touched || form['transactionType'].dirty)">
        <small *ngIf="form['transactionType'].errors?.['required']" class="error-message">Status is required.</small>
      </div>
    </div>
  
    <div>
      <label for="identityNumber">Identity Number</label>
      <input id="identityNumber" formControlName="identityNumber" />
      <div *ngIf="form['identityNumber'].invalid && (form['identityNumber'].touched || form['identityNumber'].dirty)">
        <small *ngIf="form['identityNumber'].errors?.['required']" class="error-message">Identity Number is required.</small>
      </div>
    </div>
  
    <div>
      <label for="birthDate">Transaction Date</label>
      <input id="birthDate" formControlName="birthDate" type="date" />
      <div *ngIf="form['birthDate'].invalid && (form['birthDate'].touched || form['birthDate'].dirty)">
        <small *ngIf="form['birthDate'].errors?.['required']" class="error-message">Transaction Date is required.</small>
      </div>
    </div>
  
    <button (click)="onSubmit()">Submit</button>
  </form>
  