<div *ngIf="transactions$ | async as transactions">
  <h2>Transaction History</h2>
  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">

    <ng-container matColumnDef="accountNumber">
      <th mat-header-cell *matHeaderCellDef> Account Number </th>
      <td mat-cell *matCellDef="let transaction">
        <input [(ngModel)]="transaction.accountNumber" />
      </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let transaction">
        <input [(ngModel)]="transaction.amount" type="number" />
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let transaction">
        <input [(ngModel)]="transaction.status" />
      </td>
    </ng-container>

    <ng-container matColumnDef="transactionDate">
      <th mat-header-cell *matHeaderCellDef> Transaction Date </th>
      <td mat-cell *matCellDef="let transaction">
        <input [(ngModel)]="transaction.transactionDate" type="date" />
      </td>
    </ng-container>

    <!-- 🔹 עמודה חדשה לאייקונים -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let transaction" class="actions-column">
        <button mat-icon-button (click)="editField(transaction)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button  (click)="deleteField(transaction)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
