<form [formGroup]="customerForm" (ngSubmit)="submitForm()">
  <label>שם מלא:</label>
  <input formControlName="fullName" type="text" />
  @if(customerForm.get('fullName')?.invalid && customerForm.get('fullName')?.touched) {
    <mat-error>
      נא להזין שם מלא
    </mat-error>
  }
  <label>שם מלא באנגלית:</label>
  <input formControlName="fullNameEn" type="text" />
  @if(customerForm.get('fullNameEn')?.invalid && customerForm.get('fullNameEn')?.touched) {
    <mat-error>
       נא להזין שם מלא באנגלית
    </mat-error>
  }
  <label>תאריך לידה:</label>
  <input formControlName="birthDate" type="date" />
  @if(customerForm.get('birthDate')?.invalid && customerForm.get('birthDate')?.touched) {
    <mat-error>
      נא להזין תאריך לידה
    </mat-error>
  }
  <label>תעודת זהות:</label>
  <input formControlName="idNumber" type="text" />
  @if(customerForm.get('idNumber')?.invalid && customerForm.get('idNumber')?.touched) {
    <mat-error>
      נא להזין תעודת זהות
    </mat-error>
  }
  <label>עיר:</label>
  <select formControlName="city"> 
    <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
  </select>
  @if(customerForm.get('city')?.invalid && customerForm.get('city')?.touched) {
    <mat-error>
      נא לבחור עיר
    </mat-error>
  }
  <label>בנק:</label>
  <select formControlName="bank" (change)="onBankChange($event)">
    <option *ngFor="let bank of banks" [value]="bank.id">{{ bank.name }}</option>
  </select>
  @if(customerForm.get('bank')?.invalid && customerForm.get('bank')?.touched) {
    <mat-error>
      נא לבחור בנק
    </mat-error>
  }
  <label>סניף:</label>
  <select formControlName="branch" [disabled]="isBranchDisabled()">
    <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
  </select>
  @if(customerForm.get('branch')?.invalid && customerForm.get('branch')?.touched) {
    <mat-error>
      נא לבחור סניף
    </mat-error>
  }
  <label>מספר חשבון:</label>
  <input formControlName="accountNumber" type="text" />
  @if(customerForm.get('accountNumber')?.invalid && customerForm.get('accountNumber')?.touched) {
    <mat-error>
      נא להזין מספר חשבון
    </mat-error>
  }
  <button type="submit" [disabled]="!customerForm.valid">שמירה</button>
</form>
